PORT=8081
OPENEXTRACT_MAX_CONCURRENCY=20
OPENEXTRACT_BROWSER_CONCURRENCY=4
OPENEXTRACT_MAX_WAITING=100
OPEN_EXTRACT_DEBUG=0

EVOMI_GATEWAY=
EVOMI_USERNAME=
EVOMI_PASSWORD=
CAPSOLVER_API_KEY=
TWOCAPTCHA_API_KEY=
TAVILY_API_KEY=
